:root {
  --color-primary: #70fe2d;
  --color-secondary: #03e762;
  --color-accent: #fffb32;
  --color-bg: #fbfff9;
  --color-fg: #2d3038;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #70fe2d;
        --color-secondary: #03e762;
        --color-accent: #fffb32;
        --color-bg: #2d3038;
        --color-fg: #fbfff9;
    }
}