{
  "users": [
    %{ for user in slice(users, 0, length(users) - 1) }
    {
      "username": "${user.username}",
      "password": "${user.password}",
      "isAdmin": ${user.is_admin}
    },
    %{ endfor }
    %{ for user in slice(users, length(users) - 1, length(users)) }
    {
      "username": "${user.username}",
      "password": "${user.password}",
      "isAdmin": ${user.is_admin}
    }
    %{ endfor }
  ]
}
